{% extends "main.html" %}
{% block content %}
	<h1>Add a new Book</h1>
    <form class="form-horizontal" action="{{ url_for('newBook',category_id = category_id)}}" method = "post">
		<label for="name">Name:</label>
		<input type ="text" maxlength="100" class="form-control" name="name" placeholder="Name of Book">
		<label for="description">Description:</label>
		<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the Book"></textarea>
		<label for="name">Cover URL:</label>
		<input type ="text" maxlength="100" class="form-control" name="cover" placeholder="URL for book cover image">
		<label for="name">Guttenberg link:</label>
		<input type ="text" maxlength="100" class="form-control" name="guttenberg_url" placeholder="URL for guttenberg text">
		<label for="name">Amazon link:</label>
		<input type ="text" maxlength="100" class="form-control" name="amazon_url" placeholder="amazon URL">
        <div class="checkbox">
            <label>
            <input type="checkbox" name="public" checked> Make book public  
            </label>
        </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Categories</label>
        <div class="col-sm-5">
        <select name="category" multiple class="form-control">
            {% for i in categories %}
            <!--If inserting a book for a category preselect that category-->
                {% if i.id == category_id %}
                    <option selected="selected" value={{i.id}}>{{i.name}}</option>
                {% else %}
                    <option value={{i.id}}>{{i.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
            </div>
            </div>
            <div class="form-group">
        <button type="submit" class="btn btn-default" id="submit">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
		<a href = '{{url_for('showBooks', category_id = category_id)}}'>
			<button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true">Cancel</button>
		</a>
            </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	</form>
{% endblock %}
