{% extends "main.html" %}
{% block content %}
<a href="{{url_for('newBook', category_id = category_id)}}">Add Book</a>
	{% if books !=[] %}	
		{% for i in books %}
        <h2>{{i.name}}</h2>
			<p>{{i.description}}</p>
            <img src={{i.cover}} alt="cover">
            {% if user_id == i.user_id and user_id %}
                <a href="{{url_for('editBook', book_id = i.id )}}">Edit Book</a>
                <a href="{{url_for('deleteBook', book_id = i.id )}}">Delete Book</a>
            {% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}
